<!DOCTYPE html>
<html>
<head>
	<title>Banking System</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" > 
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous">		</script>

	<script src="../validate.js"></script>
	<script src="https://use.fontawesome.com/79a98c5794.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head> 
<body>
	<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark " >
		
	   <a class="navbar-brand" href="/">
	     <img src="https://www.thesparksfoundationsingapore.org/images/logo_small.png"
		  width="30" height="30" alt="sparks" class="d-inline-block align-top">
		 TSF
	   </a>
		<!-- <span class="navbar-text">TSF</span> -->
		<button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
		<span class="navbar-toggler-icon"></span>	
			
		</button>
		
		<div class="collapse navbar-collapse" id="collapse_target">
			<ul class="navbar-nav ml-auto">
			
			<li class="nav-item">
				<a clas="nav-link" href="/">Home</a>
			</li>
				
			<li class="nav-item">
				<a clas="nav-link" href="/users">View Users</a>
			</li>
			
			<li class="nav-item">
				<a clas="nav-link" href="/transactions">Transaction history</a>
			</li>
			
		</ul>	
		</div>
		
		
	</nav>