<%- include("partials/header.ejs") %>

<div class="container landimage">
	<img class="rounded-circle img-thumbnail mx-auto "
	 src="https://www.bcsconsulting.com/wp-content/uploads/2018/12/bank-system-tile.png" alt="bank image">
	<h1>Welcome To Our Banking System</h1>
	<form action="/users" class="text-center">
		
			<button class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 
					   px-4 rounded-full ">
			View all Users
			</button>
		
	</form>
	
</div>
<%- include("partials/footer.ejs") %>